//Variables
$cubicbez: 0.46,-0.34, 0.54, 1.3;
$muli: 'Muli', sans-serif;

//colorz
$yellow: #F6C945;
$pink: #EB5DA0;
$blue: #0D81BE;
$red: #BB4A4A;
$purple: #9E60A2;

//px2em
$browser-context: 16; // Default

//MEEXINS
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
	@include prefix(transform, translate(-50%, -50%), webkit ms);
  } @else if ($horizontal) {
    left: 50%;
    @include prefix(transform, translate(-50%, 0), webkit ms);
  } @else if ($vertical) {
    top: 50%;
    @include prefix(transform, translate(0, -50%), webkit ms);
  }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
