body {
  background:url(../images/bg.jpg);
}

.main {
  background:#fff;
  margin:40px;
  padding:25px;
  @include prefix(transition, transform 3s cubic-bezier($cubicbez), webkit ms moz);
  @include prefix(transform, scale(0), webkit ms moz);
}

.loaded .main {
  @include prefix(transform, scale(1), webkit ms moz);
}
