body {
  background:url(../images/bg.jpg);
}

.main {
  background:#fff;
  margin:40px 0;
  padding:15px;
  border-radius: 5px;
  box-shadow:2px 4px 10px 0px rgba(0,0,0,.5);
  @include prefix(transition, transform 1s cubic-bezier($cubicbez), webkit ms moz);
  @include prefix(transform, scale(0), webkit ms moz);
}

.loaded .main {
  @include prefix(transform, scale(1), webkit ms moz);
}

@media screen and (min-width:768px) {
  .main {
    margin:40px;
    padding:25px;
  }
}

.fish-bowl {
  margin:30px -2px 30px;
}

.gif-wrap h1 {
  margin-bottom:10px;
}

.gif-wrap h2 {
  color:$yellow;
}

.grid-item {
  padding:0 1px;
  margin-bottom:2px
}



// .fish-bowl {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   padding: 10px;
//   height: 100vw;
// }
// .grid-item {
//   display: flex;
//   flex: 1 1 auto;
//   width: 33.3%;
//   margin-bottom: 10px;
//   border-radius: 10px;
// }

.form {
  margin-bottom:30px;
  padding-bottom:30px;
  border-bottom:1px solid #f7f7f7;
}

.fish-bowl img {
  width:100%;
  margin:0 -1px;
}

.tags-wrap {
  margin:0 -1px;
}

.tags-wrap > li {
  padding:0 1px;
  margin-bottom:2px;
  position:relative;
  @include prefix(transform, scale(1), webkit ms moz);
  @include prefix(transition, all .12s cubic-bezier($cubicbez), webkit ms moz);
  opacity:1;
  &.removeTag {
    top:15%;
    opacity:0;
    @include prefix(transform, scale(0), webkit ms moz);
  }
}

.tags-wrap button {
  font-weight:900;
  display:block;
  width:100%;
  text-transform:uppercase;
  letter-spacing:1px;
  border:0;
  color:#fff;
  background:none;
  opacity:.8;
  position:relative;
  z-index: 1;
  @include prefix(transform, scale(1), webkit ms moz);
  @include prefix(transition, all .12s cubic-bezier($cubicbez), webkit ms moz);
  &:hover {
    z-index:2;
    opacity:1;
    @include prefix(transform, scale(1.05), webkit ms moz);
  }
  & > em {
    position:absolute;
    line-height: 25px;
    width:25px;
    height:25px;
    display:block;
    z-index:5;
  }
}


.info-wrap h2 {
  font-weight:900;
  font-size:20px;
  color:$yellow;
  padding:10px;
  margin-bottom:10px;
  background:$purple;
}
